.img_me1 {
  background-image: url('../images/me_1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 15em;
  height: 20em;
}

.img_me2 {
  background-image: url('../images/me_2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 15em;
  height: 20em;
}

.img_me3 {
  background-image: url('../images/me_3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 15em;
  height: 20em;
}

.email {
  background-image: url('../images/email.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 2em;
  height: 2em;
}

.github {
  background-image: url('../images/github.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 2em;
  height: 2em;
}

.linkedin {
  background-image: url('../images/linkedin.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 2em;
  height: 2em;
}

.animation-canvassa {
  background-image: url('../gif/canvassa.gif');
  background-repeat: no-repeat;
  background-size: cover;
  width: 50vw;
  height: 28vw;
}

.animation-robot {
  background-image: url('../gif/robot.gif');
  background-repeat: no-repeat;
  background-size: cover;
  width: 50vw;
  height: 28vw;
}
