#projects {
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  margin: 0 1em;
}

@media only screen and (min-width: 768px) {
  #projects {
    font-size: large;
    margin: 0 30vw;
  }
}
