* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
}

.hidden {
  display: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.title {
  margin: 0 auto;
  text-align: center;
}

#slideshow {
  margin: 0;
}

.portrait {
  margin: 0 auto;
}

.portrait * {
  margin: 1em auto;
  box-shadow: 0 0 1em;
}

.qr-container {
  margin: 0 auto;
}

.social-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social-media-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  background-color: rgb(201, 201, 201);
  width: 95vw;
  font-size: large;
}

.social-media-item:hover {
  background-color: rgb(164, 164, 164);
}

.social-media-item div {
  margin: 0.5em 0.5em;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em auto;
}

.nav_btn {
  border-color: black;
  border-style: solid;
  padding: 1em;
  width: 7em;
  margin: 0.5em auto;
  text-align: center;
  border-radius: 1em;
  caret-color: transparent;
}

.nav_btn:hover {
  color: white;
  background-color: black;
}

.selected {
  font-style: oblique;
}

#content {
  margin-top: 2em;
}

@media (min-width: 768px) {
  * {
    font-size: large;
  }

  #slideshow {
    margin: 2em;
  }

  .portrait * {
    margin: 0 auto;
  }

  .social-media {
    margin: 0 auto;
  }
  .social-media-item {
    width: 30vw;
    margin: 0 auto;
  }
  .social-media-item div {
    margin: 0 1em;
  }

  .navbar {
    display: flex;
    flex-direction: row;
  }

  .nav_btn {
    margin: 1em 1em;
  }
}
