* {
  font-family: Arial, Helvetica, sans-serif;
}

.hidden {
  display: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.title {
  margin: 0 auto;
  text-align: center;
}

#slideshow {
  margin: 2em;
}

.portrait {
  margin: 0 auto;
}

.portrait * {
  margin: 0 auto;
  box-shadow: 0 0 1em;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1em 0;
}

.social-media-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.social-media-item div {
  margin: 0 1em;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav_btn {
  border-color: black;
  border-style: solid;
  padding: 1em;
  width: 7em;
  margin: 0 1em;
  text-align: center;
  border-radius: 1em;
  caret-color: transparent;
}

.nav_btn:hover {
  color: white;
  background-color: black;
}

.selected {
  font-style: oblique;
}

#content {
  margin-top: 2em;
}
